{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">


    {% if title %}
    <meta charset="UTF-8">
        <title>Limitless Blog - {{ title }}</title>
    {% else %}
        <title>Limitless Blog</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: #3F121B;">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Limitless Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-item nav-link" href="{% url 'blog-home' %}"><span class="fa fa-home"></span> Home</a></li>
                        <li class="nav-item"><a class="nav-item nav-link" href="{% url 'blog-about' %}"><span class="fa fa-info"></span> About</a></li>
                    </ul>
                    <!-- Navbar Right Side -->
                    <ul class="navbar-nav">
                        <form method="get" action="{% url 'blog-search' %}">
                            {% csrf_token %}
                            <input class="align-middle" name="search" value="" placeholder="search here" required>
                            <button class="btn btn-primary"><span class="fa fa-search"> Search</span></button>
                        </form>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-item nav-link" href="{% url 'user-posts' username=user.username %}">My Posts</a></li>
                            <li class="nav-item"><a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a></li>
                            <li class="nav-item"><a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a></li>
                            <li class="nav-item dropdown">
                                <a id="notification" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                  Notifications <span class="fa fa-bell"></span><sup id="notification_count">{{ user.notification_set.all|length }}</sup>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right bg-dark">
                                    {% for notification in user.notification_set.all|dictsortreversed:"date_posted" %}
                                        <div class="dropdown-item bg-dark" id="notification_{{ notification.id }}">
                                            {% if notification.liked_post %}
                                                <a class="mr-auto" href="{% url 'post-detail' pk=notification.post.id %}">{{ notification.notification_text }} </a>
                                            {% elif notification.comment %}
                                                <a class="mr-auto" href="{% url 'post-detail' pk=notification.post.id %}?cpk={{notification.comment.pk}}">{{ notification.notification_text }} </a>
                                            {% else %}
                                                <a class="mr-auto" href="{% url 'post-detail' pk=notification.post.id %}?ccpk={{notification.child_comment.pk}}">{{ notification.notification_text }} </a>
                                            {% endif %}
                                            <button class="btn-success ml-auto" onclick="delete_notification('notification_{{ notification.id }}', '{% url 'notification-delete' pk=notification.id %}')">Mark as read</button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-item nav-link" href="{% url 'logout' %}">LogOut <span class="fa fa-power-off"></span></a></li>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}?next={{ request.path }}">Login <span class="fa fa-power-off"></a>
                            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div id="article-section" class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Favourite Links</h3>
              <ul class="list-group">
                <a href="{% url 'latest-posts' %}" class="list-group-item">Latest Posts</a>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Resources</li>
              </ul>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/update_notification.js' %}"></script>
    <script src="{% static 'js/post_details.js' %}"></script>
</body>
</html>